==
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Owl Carousel -->
    <link href="{{ 'assets/css/owl.carousel.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/owl.theme.default.min.css'|theme }}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{{ 'assets/css/output.css'|theme }}" rel="stylesheet">
</head>

<body>

    <main>
        {% page %}
    </main>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>


    <!-- Iconify -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    <!-- Custom JS -->
    <script src="{{ 'assets/js/app.js'|theme }}"></script>
    <script src="{{ 'assets/js/carousel.js'|theme }}"></script>
</body>

</html>